<div class="banner-form" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('https://images.unsplash.com/photo-1504309092620-4d0ec726efa4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f38e067fcad97bc3b247b3db0859af1c&auto=format&fit=crop&w=750&q=80 750w')">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 id="title-form" class="text-center">Modifier ma piscine</h1>
        <%= link_to '<i class="fas fa-chevron-left"></i> Retour'.html_safe, pools_path%>
        <div class="form-pool">
          <%= simple_form_for (@pool) do |f| %>
            <%= f.input :title, label: 'Titre de l\'annonce' %>
            <%= f.input :address, label: 'Adresse' %>
            <%= f.input :city, label: 'Ville' %>
            <%= f.input :description, label: 'Description de votre annonce' %>
            <%= f.input :capacity, label: 'Capacité' %>
            <%= f.input :price, label: 'Prix par jour' %>
            <%= f.input :photo, label: 'Photo de votre annonce' %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.submit "Modifier", class: "btn btn-blue"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
