<% content_for :navbar_class, "navbar-wagon-white-fix" %>
<div class="container">
  <div class="container-booking">
    <h1>Mes piscines</h1>
    <ul class="pools">
      <% if @pools_user.count != 0 %>
        <% @pools_user.each do |pool| %>
          <li class="pool">
            <div>
              <%= cl_image_tag pool.photo, class: "pool-img" %>
            </div>
            <div class="contain-title-description-price">
              <div class="pool-title">
                <h4><%= link_to pool.title, pool_path(pool)%></h4>
              </div>

              <div class="pool-desciption">
                <p><%= pool.description %></p>
              </div>
              <div class="pool-price">
                <p><%= pool.price %> <i class="fas fa-euro-sign"></i> / jour</p>
              </div>
            </div>
            <div class="pool-actions">
              <div class="pool-delete">
                <%= link_to '<i class="fas fa-trash-alt"></i> Supprimer'.html_safe, pool_path(pool), method: :delete, data: {confirm: "Êtes-vous sûr ?"} %>
              </div>
              <div class="pool-edit">
                <%= link_to '<i class="fas fa-pencil-alt"></i> Editer'.html_safe, edit_pool_path(pool)%>
              </div>
            </div>
          </li>
      <% end %>
      <%else%>
      <div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 40%, rgba(0,36,61,0.6) 100%), url('https://images.unsplash.com/photo-1498747946579-bde604cb8f44?ixlib=rb-0.3.5&s=f24ee9e4a9c624c0e161ff7f32f44932&auto=format&fit=crop&w=2978&q=80');">
        <h1> Vous n'avez pas de piscine </h1>
      <% end %>
    </ul>
  </div>
</div>
