<div class="banner-form" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('https://images.unsplash.com/uploads/1411599070526e808c923/239f12cc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9177cf7264f44d823da49392012c62de&auto=format&fit=crop&w=750&q=80 750w')">
  <div class="container">
    <div class="row">
    <h1 id="title-form" class="text-center">Ajouter ma piscine</h1>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="form-pool">
          <%= simple_form_for (@pool) do |f| %>
            <%= f.input :title, label: 'Titre de l\'annonce' %>
            <%= f.input :address, label: 'Adresse' %>
            <%= f.input :description, label: 'Description de votre annonce' %>
            <%= f.input :capacity, label: 'Capacité' %>
            <%= f.input :price, label: 'Prix par jour' %>
            <%= f.input :photo, label: 'Photo de votre annonce' %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.submit "Créer ma piscine", class: "btn btn-blue"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

