<% content_for :navbar_class, "navbar-wagon-white-fix" %>

<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 40%, rgba(0,36,61,0.6) 100%), url(<%= cl_image_path(@pool.photo)%> );">
  <div class="banner-title">
    <h1><%= @pool.title %></h1>
  </div>
</div>

<div class="container">
  <div class="main-container">
    <div class="card-container">
      <div class="global-card">
        <div class="card-pool card-pool-left">
          <h3>À propos de cette piscine</h3>
            <p><%= @pool.description %></p>
          <h3>Propriétaire</h3>
            <p><%= cl_image_tag @pool.user.avatar, :transformation=>[{:gravity=>"face"}], class:"message-avatar"%>     <%= @pool.user.first_name %></p>
          <h3>Capacité d'accueil</h3>
            <p><i class="fas fa-users"></i> <%= @pool.capacity %> Pers.</p>
            <h3>Prix</h3>
              <p><%= @pool.price %> <i class="fas fa-euro-sign"></i> / jour</p>

          <div class="comments">
            <h3><%= "Avis & Commentaires" %></h3>
            <% @pool.reviews.each do |review|%>
              <span class="star">
              <% review.rating.times do %>
                <i class="fa fa-star" aria-hidden="true"></i>
              <% end %>
              <% (5 - review.rating).times do %>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              <% end %>
              </span> <br>
              <i><%= review.content %> </i><br><hr>
            <% end %>
          </div>
        </div>
        <div class= "card-pool">
          <h3>Adresse</h3>
          <p><i class="fas fa-map-marker-alt"></i> <%= @pool.address %></p>
          <div
            id="map"
            style="width: 95%;
            height: 400px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%=ENV['MY_MAPBOX_API_KEY']%>"></div>
        </div>
      </div>
    </div>
    <div class="card-side">
      <div class="card-pool">
        <h3><%= "Réserver cette piscine" %></h3>
        <%= simple_form_for([@pool, @booking]) do |f| %>
          <%= f.input :date, as: :string, label: "Choisissez une date", input_html: {class: "datepicker"} %>
          <p><center><%= @pool.price %> <i class="fas fa-euro-sign"></i> / jour</center></p>
          <center><%= f.submit "Envoyer ma réservation", class: "btn btn-lg btn-search"%></center>
        <% end %>
      </div>
    </div>
  </div>
</div>


