<% content_for :navbar_class, "navbar-wagon-white-fix" %>

<div class="banner-form" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('https://images.unsplash.com/photo-1504309092620-4d0ec726efa4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f38e067fcad97bc3b247b3db0859af1c&auto=format&fit=crop&w=750&q=80 750w')">
  <div class="container">
    <div class="container-booking">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h1 id="title-form" class="text-center">Modifier mon profile</h1>
          <%= link_to '<i class="fas fa-chevron-left"></i> Retour'.html_safe, user_path%>
          <div class="form-pool">
            <%= simple_form_for (@user) do |f| %>
              <%= f.input :first_name, label: 'Votre prenom' %>
              <%= f.input :last_name, label: 'Votre nom de famille' %>
              <%= f.input :party_lover, as: :select %>
              <%= f.input :party_quote, label: 'Votre /"party quote/"' %>
              <%= f.input :stroke, label: 'Votre nage de swimmer' %>
              <%= f.input :avatar, label: 'Photo de votre annonce' %>
              <%= f.input :avatar_cache, as: :hidden %>
              <%= f.submit "Modifier", class: "btn btn-blue"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
