<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 40%, rgba(0,36,61,0.6) 100%), url('https://images.unsplash.com/photo-1523301343968-6a6ebf63c672?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=675d706c330862ec0a0b01703de8abba&auto=format&fit=crop&w=1500&q=80');">
  <%= render 'shared/flashes' %>
  <div class="banner-content">
    <h1>Réservez une piscine pour une Pool Party près de chez vous</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <div>
      <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-form", id: "pool-address",
          placeholder: "Paris" %>
        <%= submit_tag "Trouver une piscine", class: "btn btn-lg btn-search", id: "btn-search-homepage"%>
      <% end %>
  </div>
  </div>
</div>

  <div class="container-home-title">
    <h3>Les meilleures piscines pour vos soirées</h3>
    <p>Une soirée de rêve prévue ? Des centaines de piscines à découvrir !</p>
  </div>
  <div class= "container-home">
  <div class="display-flex">
    <% @pools.each do |pool| %>
      <div class = "card">
       <%= link_to pool_path(pool) do %>
        <div class="card-img" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 40%, rgba(0,36,61,0.6) 100%),url('<%= cl_image_path(pool.photo, height: 300, width: 400, crop: :fill) unless pool.photo.url.nil? %>')">
          <div class="card-category">
            <h4><%=pool.title%></h4>
          </div>
        </div>
        <div class="pool-content">
            <p><%= pool.price %>€</p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div style="margin: 50px;">
  <div
    id="map"
    style="width: 100%;
    height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%=ENV['MY_MAPBOX_API_KEY']%>"
  >
  </div>
</div>

<!-- this is what a data-marker looks like in your JS console log
 dataset = {
  markers: '',
  mapboxApiKey: ''
} -->
