<div class="form-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 40%, rgba(0,36,61,0.6) 100%), url(<%= cl_image_path(@pool.photo)%> );">
    <div class="container">
      <div class="container-booking">
        <div class="row">
          <h1 id="title-form" class="text-center">Mon avis sur <%= @pool.title =%></h1>
          <div class="col-sm-8 col-sm-offset-2">
            <div class="form-pool">
              <%= simple_form_for [@pool, @review] do |f| %>
                <%= f.input :content, label: 'Mon commentaire'%>
                <%= f.input :rating,  label: false, collection: 0..5 %>
                <%= f.button :submit, "Envoyer", class: "btn btn-lg btn-search" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

